*{
    font-family: sans-serif;
}
a{
    text-underline: none;
}
.accent-color{
    color: dodgerblue;
}
h1{
    text-align: center;
    margin: 65px 65px 30px;
}

h2{
    text-align: center;
}
em{
    text-align: center;
    display: block;

}
.btn{
    display: inline-block;
    font-size: 30px;
    background-color: dodgerblue;
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    border-radius: 5px ;
    text-decoration: none;
}
.btn:hover , .btn:focus{
    background-color: #ffc800;
}

.container{
    width: 600px;
    margin: 0 auto;
}
p{
    margin-top: 40px;
}

.btn-login{
    font-size: 15px;
    padding: 10px 20px;
}

.btn-logout{
    background-color: bisque;
}

form{
    padding: 5%;
    font-size: 20px;
}
label{
    font-weight: bold;
    color: #ffffff;
    background-color: dodgerblue;
    padding: 8px 35px;
    border-radius: 0px 10px 0px 10px;
}

.input-bar {
    margin: 10px auto;
    font-size: 20px;
    outline: dodgerblue;
    padding: 8px 3px;
}
.warning{
    color: red;
}
.success{
    color: green;
}

table, th, td {
    border: 1px solid black;
}